<div class="add-recipe">
    @if(showMessage){
    <div class="message">{{message}}</div>
    }

    <header class="add-recipe-header">
        <button routerLink="/recipes"><i class="fa-solid fa-arrow-left-long"></i></button>
        <h2>add Recipe</h2>
    </header>
    <h3>Details</h3>
    <form [formGroup]="addRecipeForm" class="add-recipe-box">
        <div class="add-recipe-text">
            <div class="add-recipe-input">
                <label for="name">name</label>
                <input minlength="5" formControlName="name" type="text" id="name">
            </div>
            <div class="add-recipe-input">
                <label for="category">category</label>
                <select id="category" (change)="setCategory($event)">
                    <option value="">Choose category</option>
                    @for (category of categories; track $index) {
                    <option [value]="category.name">{{category.name}}</option>
                    }
                </select>
            </div>
            <div class="add-recipe-input">
                <label for="description">description</label>
                <textarea minlength="10" formControlName="description" id="description"></textarea>
            </div>
        </div>
        <div class="add-recipe-text">
            <div class="add-recipe-input">
                <label for="price">price</label>
                <input min="0" max="100" formControlName="price" type="number" id="price">
            </div>
            <div class="add-recipe-input">
                <label for="estimatedTime">estimated time in minutes</label>
                <input min="0" max="120" formControlName="estimatedTime" type="number" id="estimatedTime">
            </div>
            <div class="add-recipe-input">
                <label for="ingredients">ingredients</label>
                <input [(ngModel)]="ingredient" type="text" id="ingredients" name="ingredients"
                    [ngModelOptions]="{standalone: true}">
                <button (click)="addIngredient()" class="add-ingredient-btn">add ingredient</button>
                <div class="add-ingredient">
                    @for(ingredient of ingredients;track $index;let i = $index){
                    <span (click)="deleteIngredient(i)" class="ingredient">{{ingredient}}</span>
                    }
                </div>
            </div>
        </div>
        <div class="add-recipe-img">
            <p>Upload Image</p>
            <label for="file"><span class="file-icon"><i class="fa-solid fa-cloud-arrow-up"></i></span></label>
            <input required type="file" id="file" (change)="onFileSelect($event)">
        </div>
    </form>
    <div class="add-actions">
        <button (click)="addRecipe()">
            @if(loading){<span class="loader"></span>}@else{<i
                class="fa-regular fa-floppy-disk"></i><span>save</span>}</button>
        <button routerLink="/recipes"><i class="fa-solid fa-xmark"></i> <span>Cancel</span></button>
    </div>
</div>