<div class="category">
    <h2>Add Categories</h2>
    <div class="category-box">
        <div class="form">
            <label for="name">Category Name</label>
            <input [(ngModel)]="cateName" type="text">
            <button (click)="addCate()" type="submit">Add Category</button>
        </div>
        <div class="cates">
            @for(cate of category; track cate.id){
            <div class="cates-box">
                <button (click)="deleteCate(cate.id)"><i class="fa-solid fa-xmark"></i></button>
                <p class="cate">{{cate.name}}</p>
            </div>
            }
        </div>
    </div>
</div>