/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "poppins";
    line-height: 1;
    font-weight: 400;
    background-color: #f6f6f6;
}

ul {
    list-style: none;
}