<div class="logo">
    <!-- <i class="logo-icon fa-solid fa-utensils"></i> -->
    <img src="../../../assets/logo2.png" class="logo-img" />
    <h2>Food Rest</h2>
</div>
<ul class="list">
    <li>
        <a class="list-link" routerLinkActive="active" routerLink="/dashboard">
            <i class="fa-solid fa-chart-line"></i>
            <span class="list-text">dashboard</span>
        </a>
    </li>
    <li>
        <a class="list-link" routerLinkActive="active" routerLink="/recipes">
            <i class="fa-solid fa-bell-concierge"></i>
            <span class="list-text">meals</span>
        </a>
    </li>
    <li>
        <a class="list-link" routerLinkActive="active" routerLink="/orders">
            <i class="fa-solid fa-truck"></i>
            <span class="list-text">orders</span>
        </a>
    </li>
    <li>
        <a class="list-link" routerLinkActive="active" routerLink="/users">
            <i class="fa-solid fa-users"></i>
            <span class="list-text">users</span>
        </a>
    </li>

    <li>
        <a class="list-link" routerLinkActive="active" routerLink="/reservations">
            <i class="fa-regular fa-bookmark"></i>
            <span class="list-text">reservations</span>
        </a>
    </li>
    <!-- <li>
        <a class="list-link" routerLinkActive="active" routerLink="/calender">
            <i class="fa-regular fa-calendar"></i>
            <span class="list-text">calender</span>
        </a>
    </li> -->
    <li>
        <a class="list-link" routerLinkActive="active" routerLink="/category">
            <i class="fa-solid fa-layer-group"></i>
            <span class="list-text">categories</span>
        </a>
    </li>

    <!-- <li>
        <a class="list-link" routerLinkActive="active" routerLink="/messages">
            <i class="fa-regular fa-envelope"></i>
            <span class="list-text">messages</span>
        </a>
    </li> -->
</ul>