<div class="orders">
    <h2>Orders ({{ordersLength}})</h2>
    <nav class="orders-nav">
        <select (change)="setSortBy($event)" class="orders-filters">
            <option value="">all ({{ordersLength}})</option>
            <option value="confirm">confirmed ({{confirm.length}})</option>
            <option value="pending">pending ({{pending.length}})</option>
            <option value="cancel">canceled ({{cancel.length}})</option>
        </select>
        <div class="orders-btns">
            <button class="filter-date"><span>📅</span>this month 🔽</button>
        </div>
    </nav>
    <div class="orders-box">
        @if(orders.length > 0){
        <table class="orders-table">
            <thead>
                <tr>
                    <th>customer</th>
                    <th>data</th>
                    <th>time</th>
                    <!-- <th>phone</th> -->
                    <th>location</th>
                    <th>amount</th>
                    <th>order status</th>
                    <th>payment status</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                @for(order of orders; track order._id) {
                <tr>
                    <!-- <td>name test</td> -->
                    <td>{{order.userId.userName}}</td>
                    <td>{{order.createdAt.slice(0,10)}}</td>
                    <td>{{order.createdAt.slice(11,16)}}</td>
                    <!-- <td>{{order.shippingDetails.phone}}</td> -->
                    <td>
                        {{order.shippingDetails.address.state}}
                        {{order.shippingDetails.address.city}}
                        {{order.shippingDetails.address.postal_code}}
                        {{order.shippingDetails.address.line1}}
                        {{order.shippingDetails.address.line2}}
                    </td>



                    <!-- city "asdas"
                    country "EG"
                    line1 "asdasd" 
                    line2 "asdasd"
                    postal_code "52"
                    state "المنيا" -->

                    <td>${{order.totalPrice}}</td>
                    <td><span
                            [class]="order.status === 'pending' ? 'pending' :order.status == 'cancel' ? 'cancel' : 'confirm'">{{order.status}}</span>
                    </td>
                    <td><span class="pending">{{order.paymentStatus}}</span></td>
                    <td class="btns">
                        @if(order.status == "pending"){

                        <button [routerLink]="['/orders',order._id]" class="confirm-btn"><i
                                class="fa-solid fa-info"></i></button>
                        <button (click)="updateOrder(order._id, 'confirm')" class="confirm-btn"><i
                                class="fa-solid fa-check"></i></button>
                        <button (click)="updateOrder(order._id, 'cancel')" class="cancel-btn"><i
                                class="fa-solid fa-xmark"></i></button>
                        }@else {
                        <button [routerLink]="['/orders',order._id]" class="confirm-btn"><i
                                class="fa-solid fa-info"></i></button>
                        done
                        }
                    </td>
                </tr>
                }


            </tbody>
        </table>
        }@else {<h3 class="no-data">No Orders</h3>}
    </div>
    <div class="orders-pagination">
        <p>Shown 10 of {{orders.length}}</p>
        <div class="pagination">
            <button (click)="prev()" [disabled]="page == 1" class="btn-2">Previous</button>
            <button (click)="setPage(1)" [class]="page === 1 ? 'active btn': 'btn'">1</button>
            <button (click)="setPage(2)" [class]="page === 2 ? 'active btn': 'btn'">2</button>
            <!-- <button (click)="setPage(3)" [class]="page === 3 ? 'active btn': 'btn'">3</button>
            <button (click)="setPage(4)" [class]="page === 4 ? 'active btn': 'btn'">4</button> -->
            <button (click)="next()" [disabled]="page == 2" class="btn-2">Next</button>
        </div>
    </div>
</div>